@import "../colors";
@import "../global";

.our-work {
  align-items: stretch;

  &__title {
    color: @color-success;
    .font-size(xxl);
    background-color: #1b3144;

    @media (max-width: 575.98px) {
      .font-size(l);
    }


    @media (max-width: 400px) {
      font-size: 1.25rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto 640 / 480;;
    background-size: cover;
    background-position: center;
  }
}