[data-content-id] {
  position: relative;
}

.edit-actions {
  position: absolute;
  right: 0;
  top: 100%;

  &__action {
    padding: 0;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
        display: block;
    }
  }
}

.admin-panel{
    background-color: rgb(189, 5, 5);
    color: white;
}
